# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=sevilla360

# Gmail SMTP Configuration
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password

# Application Security Key (Used for HMAC Database Signatures)
# Generate a unique random value with at least 32 randomly generated characters for every deployment.
APP_KEY=

# PayMongo API Configuration
PAYMONGO_SECRET_KEY=your_secret_key_goes_here
